<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="HTML5 Is Just Responsive Template Theme" />
        <meta name="keywords" content="HTML5" />
        <meta name="author" content="Ali Nasser" />

        <title>{{ page_title }}</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <!-- Ion Icons -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
        <!-- Main CSS Style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <!-- Responsive CSS Style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
    
        {% endblock %}
        <!-- jQuery Library -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- Bootstrap Core JS -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Nice Scroll JS -->
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
        <!-- Main Scripts -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>